/* Menu Right*/
.front #menu_right { display: none;}
#menu_right { z-index: 99999; position: absolute;}
#menu_right .floatable { position: fixed; width: 200px; right: 0; bottom: 183px; }

/* Views HomePage*/
.view-frontpage .view-content .views-row { float: left; margin: 10px; }
.view-frontpage .view-content .views-row div.fivestar-widget { float: right; margin: 3px; }

/* Views Liste Iniversity */
.page-list-university #edit-field-tag-tid-wrapper { display: none;}
.page-list-university #menu_right #edit-field-tag-tid-wrapper { display: block;}
.page-list-university #edit-field-r-gion-tid-wrapper .form-item .form-type-bef-link { float: left; margin: 5px; }

/* Home page */
.front .main-container {
  background-image: url(/sites/default/files/back_ground.jpg);
  min-height: 570px;
  background-size: cover;
}
.front .main-container .row {
  position: absolute;
  top: 300px;
  width: 100%;
  text-align: center;
}
.front #block-system-main .view-header {
  font-family: Myriad Pro;
  font-size: 17px;
  color: #ffffff;
}
.front #block-system-main .views-exposed-form {
  display: inline-flex;
}
.front #block-system-main .views-exposed-form .views-widget .form-control {
  color: #ffffff;
  background-color: transparent;
  font-family: Myriad Pro;
  font-size: 14px;
  line-height: 18px;
  border-radius: 0;
}
.front #block-system-main .views-exposed-form .views-widget .form-control::after {
  font-family: "FontAwesome";
  content: "\f107";
  color: #ffffff;
  z-index: 10;}
.front #block-system-main .views-exposed-form .views-widget .form-control option{
  color: #000;
  background-color: #bfbec0;
}
.front .views-exposed-widget{
  width: 33%;
}

@media (max-width: 767px) and (min-width: 480px){
  .front .main-container .row {
    top: 220px;
  }
  .front .views-exposed-widget{
    width: 56%;
    position: relative;
    left: 24%;
  }
}
@media (max-width: 479px){
  .front .views-exposed-widget{
    width: 80%;
    position: relative;
    left: 11%;
  }
}

/*** page list university ***/
.views-exposed-widgets {
  margin-bottom: .5em;
  padding-left: 36px;
}
.views-exposed-form select{
  background: #ff0000cc;
  color: #ffffff;
  border-radius: 0;}
.page-list-university #edit-field-r-gion-tid-wrapper .form-item .form-type-bef-link {
  margin: 2px;
}
#edit-field-r-gion-tid-wrapper .form-item a{
  color: #777777;
  font-family: Myriad Pro;
  font-size: 14px;
}
#edit-field-r-gion-tid-wrapper .form-item a::after {
  content: "-";
  padding-left: 5px;
}
#edit-field-r-gion-tid-wrapper .form-item-edit-field-r-gion-tid-33 a::after {
  content: "";
}