/*system-main*/
#block-system-main .user-info-from-cookie div {width: 80%;;background-color: gainsboro;}
#block-system-main .user-info-from-cookie  {background-color: gainsboro;}
#edit-field-derni-re-dipl-me-obtenu .field-derni-re-dipl-me-obtenu-add-more-wrapper div {display: block;}
#edit-field-date-de-naissance legend.panel-heading {background-color: white;}