
.region-footer { clear: both; }
.footer { margin: 0; border-top: 3px solid red; }
.footer #block-block-2 h2 { font-family: Myriad Pro; font-size: 17px; }
.footer #block-block-2 h2::before { font-family: "FontAwesome"; content: "\f39e"; color: #000; }
.footer #block-menu-menu-menu-nouvelles-offres h2::before{ font-family: "FontAwesome"; content: "\f0f2"; color: #000; }
.footer #block-menu-menu-liens-utiles h2::before{ font-family: "FontAwesome"; content: "\f0c1"; color: #000; }
.footer #block-block-5 h2::before{ font-family: "FontAwesome"; content: "\f05a"; color: #000; }
.footer { padding-bottom: 0;  padding-right: 0; padding-left: 0;}
.footer .block-title { font-family: Myriad Pro; font-size: 17px; }
.footer #block-block-5 p { font-family: Myriad Pro; color: #777777; font-size: 13px; }
.footer .region-footer { width: 100%; background: #000; }
.footer .nav > li { border-top: 1px solid lightgray; }
.footer .nav > li:first-child { border: none; }
.footer .nav > li > a { font-family: Myriad Pro; font-size: 13px; color: #777777; padding-left: 0;}
.footer .contextual-links-wrapper p { font-family: Myriad Pro; color: #777777; font-size: 13px; }
.footer .region-footer center { color: #ffffff; font-family: Myriad Pro; font-size: 12px; }
