
.navbar-default { background: none; border: none; }
#navbar-collapse { float: right; padding-top: 14px; }
#navbar-collapse .region-navigation #block-system-user-menu .menu.nav li { float: left; }
/*** block menu **/
#navbar{
  background: #333;
  border-radius: 0;
}
.navbar.container-fluid {
  margin-top: 0; 
}
.navbar .logo {
  width: 30%;
}
#navbar-collapse .region-navigation #block-system-user-menu .menu.nav > li > a {
  font: 300 12px/20px Myriad Pro;
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #ffffff;
  text-transform: uppercase;
}

/*** Block menu -- Home-Page ***/
.front #navbar { position: absolute; width: 100%; background: none;}
.front #navbar-collapse { padding-top: 0;}
.front .navbar .logo {
  width: auto;
}

@media (min-width: 768px){
  #navbar .navbar-header{
    width: 40%;
  }
}

@media (max-width: 479px){
  #navbar .navbar-header .logo {
    width: 70%;
  }
}
